* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(46, 100%, 97%);
}

h1 {
    width: fit-content;
    margin: auto;
    font-family:'Courier New', Courier, monospace;
    font-size: 5rem;
    font-weight: normal;
    padding-inline: 0.1em;
    border-top: 0.07em solid black;
    border-bottom: 0.07em solid black;
}

nav {
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    padding: 1rem;
    background: whitesmoke;
}

ul {
    list-style-type: none;
}

li {

    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
}

nav a {
    color: black;
    text-decoration: none;
    display: block;
    border-radius: 0.4em;
    padding: 0.3em 0.5em;
}

a:hover {
    color: hsl(238, 99%, 60%);
    background-color: rgb(221, 221, 221);
}

a:active {
    color: hsl(39, 100%, 50%);
}