* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(46, 100%, 97%);
}

h1 {
    width: fit-content;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
    font-weight: normal;
    padding-inline: 0.1em;
    border-top: 0.07em solid black;
    border-bottom: 0.07em solid black;
}
