* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: hsl(46, 100%, 97%);
}

h1 {
    width: fit-content;
    margin: auto;
    font-family:'Courier New', Courier, monospace;
    font-size: 5rem;
    font-weight: normal;
    padding-inline: 0.1em;
    border-top: 0.07em solid black;
    border-bottom: 0.07em solid black;
}

header {
    font-family: 'Inter', sans-serif;
    box-shadow: 0px 1px 10px hsl(0, 0%, 80%);
    background: hsl(0, 0%, 96%);
    width: 100vw;
    padding: 1rem;
    font-size: 0.875rem;
}

nav {
    padding-left: 10vw;
    z-index: 1;
}

.login {
    justify-self: flex-end;
}

.sticky {
    position: sticky;
    top: 0em;
}

ul {

    list-style-type: none;
    display: inline-flex;
}

li {
    margin: 0em 0.4em;
}

header a {
    color: black;
    text-decoration: none;
    display: block;
    border-radius: 0.8em;
    padding: 0.8em 0.8em;
}

a:hover {
    color: hsl(238, 99%, 60%);
    background-color: rgb(221, 221, 221);
}

a:active {
    color: hsl(39, 100%, 50%);
}